.filters {
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 100px auto 30px auto;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border-style: none;
    margin-right: 30px;
    align-items: center;
    
}

button:hover {
    opacity: 0.9;
}

h2 {
    font-size: 16px;

}

h3 {
    font-weight: 600;
    padding-top: 15px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

.locations h2,
.amenities h2 {
  margin: 0;
  padding-left: 30px;
}

.locations {
    height: 100%;
    width: 25%;
    max-height: 70px;
    min-width: 250px;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
    max-height: 70px;
    min-width: 250px;
    margin-right: auto;

}

.locations,
.amenities {
  position: relative;
}

.popover {
  display: none;
  position: absolute;
  top: 100%;
  color: #000000;
  width: 100%;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 10px 0;
  margin: 0;
  padding-bottom: 15px;
}

.popover ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 30px;
}

.popover li {
  padding: 5px;
  cursor: pointer;
  list-style: none;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}

.popover h4,
.amenities h3, .amenities h4,
.locations h3, .locations h4 {
    margin: 0;
    padding-left: 55px;
}

.popover h2 {
    padding-top: 15px;
    font-size: 16px;
}

.amenities:hover .popover h4 {
    padding-top: 5px;
}