.places {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px 0;
  }

.plist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.places h1 {
    font-size: 30px;
    text-align: left;
    margin: 0 0 20px;
    padding-left: 15px;
}
  
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
  
.places article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.places article:last-child {
    margin-left: auto;
    margin-right: auto;
}